<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352839780808-n30l566jaj7mcfrbf9ek912o1i0j918f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352839780808-n30l566jaj7mcfrbf9ek912o1i0j918f</string>
	<key>API_KEY</key>
	<string>AIzaSyDVZ--7fJQuRZShKkSLsrpKtOju8zB62pM</string>
	<key>GCM_SENDER_ID</key>
	<string>352839780808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoop.etanaorokoapp</string>
	<key>PROJECT_ID</key>
	<string>etanaoroko-app</string>
	<key>STORAGE_BUCKET</key>
	<string>etanaoroko-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352839780808:ios:d9d36125e21f9ef5ab18fd</string>
</dict>
</plist>